
<div class="col-auto">
  <strong>Privacy Statement:</strong> All personal data is stored securely and will not be shared with any other party.
</div>
<div class="col-auto">
  Questionnaire Builder - built on rails - by ggt
</div>
