
<div class="d-flex">
  <div class="flex-fill">
    <p class="fs-6"><small><strong>Privacy Statement:</strong> All personal data is stored securely and will not be shared with any other party.</small></p>
  </div>
  <div class="flex-fill">
    <p class="fs-6 text-body-secondary"><small>Questionnaire Builder - built on rails - by ggt</small></p>
  </div>
</div>
