<nav class="nav bg-light px-4">
  <%= link_to(root_path) do %>
    <%= fa_icon 'home' %>
  <% end %>
  <span class="mx-auto text-success">Logged in as <%= current_user.email %></span>
  <%= link_to('Log out'.html_safe, destroy_user_session_path, method: 'delete') %>
</nav>
